%h2
  Couchmentoring: EVERYONE can learn to code
%p
  Ich biete euch einen Einblick in die Welt der Programmierung.
%p
  Du bist dir schon sicher? Dann direkt Bestätigen! Ansonsten weiterlesen!
%h3
  Was ist das?
%p
  Unsere Welt wird von Computern und Programmen gesteuert.
  Ich glaube, dass es gut ist, ein grundsätzliches Verständnis davon zu haben, wie Programmierung ganz Allgemein funktioniert.
  Daher stelle ich meine Couch für einen Abend zur Verfügung um fünf Leuten, die bisher null ProgrammierCode-Erfahrung haben(!), eine Einführung in grundlegende Konzepte zu geben.
  Ziel ist es, Verständnis - und vielleicht Interesse - zu erwecken und vor allem zu begreifen, dass das Ganze kein Hexenwerk, sondern alles ganz einfach erklärbar und lernbar, ist. Vielleicht fällt für euer alltägliches Leben hier und dort eine neue Erkenntnis ab, die ihr im Büro oder im Studium gebrauchen könnt („Da war doch mal was…“, oder, Stichwort: Programmierung in Excel)
  Achtung: Das Ganze richtet sich an absolute Neueinsteiger. Wenn du in diesem Bereich schon mal Erfahrung gesammelt hast, überlege dir dein Wissen bei einem eigenen Termin zu teilen!
%p
  Warum ist das Ganze ...
%p
  %span ... gut für Leute die mitmachen?
%p
  Du lernst kostenlos einen kleinen Teil einer ganz neuen Welt kennen und bekommst ein Verständnis dafür, wie Programme und Webseiten von Innen aufgebaut sind. Du schaffst etwas Neues. Und es gibt Bier.
%p
  %span ... gut für den Mentor (Bennet)?

%p
  Ich möchte meine Lehr- und Erklärfähigkeiten ausprobieren, euch zeigen womit ich mein Geld verdiene und dabei eventuell neue Leute kennenlernen.

%h4
  Voraussetzungen

%p
  Ihr braucht:
  %ul
    %li 1 Laptop pro Person (Windows, Mac, Linux, egal.)
    %li Etwa 3 Stunden Zeit am genannten Termin
    %li Lust in etwas Neues reinzuschnuppern
    %li Null Vorwissen in Sachen Programmierung, wir erarbeiten, installieren, programmieren alles gemeinsam Grundsätzliches Vorwissen in Sachen Computern (Textdateien bearbeiten, Programme öffnen, …)
    %li Sehr sehr grundlegende Englischkenntnisse für einige Stichwörter in der Programmierung (z.B. „If“ für „Wenn“)

  Ich stelle:
  %ul
    %li Eine Couch
    %li Einen großen Bildschirm zur gemeinsamen Arbeit („Abgucken“ explizit erlaubt)
    %li Getränke und Snacks

  WENN IHR LEUTE KENNT DIE POTENZIELLE INTERESSE HABEN DÜRFT IHR DIESE GERNE EINLADEN.
